.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.is-style-fo-ni {

	p {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: left;
		}
	}
}

.is-style-fb-ni {

	.wp-block-columns {

		&:first-of-type {

			.wp-block-column {

				&:first-of-type {

					@media screen and (max-width: $breakpoint_mobile) {
						order: 2;
					}
				}
			}
		}
	}
}

.is-style-fg-ni {

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 2rem 0;
	}

	h2 {

		@media screen and (max-width: $breakpoint_mobile) {
			margin-bottom: 3rem;
		}
	}
}

#page .is-style-fo-ib {

	* {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: left;
			justify-content: flex-start;
		}


		hr {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-right: unset;
				margin-left: 0;
			}
		}
	}
}

#page .is-style-fo-ib-2 {

	* {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: left;
			justify-content: flex-start;
		}


		hr {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-right: unset;
				margin-left: 0;
			}
		}
	}
}
