/*!
Theme Name: ihag
Theme URI: https://effidic.fr
Author: I Have a Green
Author URI: https://ihaveagreen/
Description: effidic theme since underscore starter-theme
Version: 0.2.0
Tested up to: 5.4
Requires PHP: 7.1
Text Domain: ihag

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

_s is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
@import "sass/abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@import "sass/generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "sass/generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "sass/base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "layouts/content-sidebar";
// @import "layouts/sidebar-content";
@import "sass/layouts/wrapper";
@import "sass/layouts/blog-post";
@import "sass/layouts/reference-post";
@import "sass/layouts/glossary-post";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "sass/components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
//@import "plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "sass/utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "sass/utilities/alignments";
@import "sass/single/single-ref";
