/*!
Theme Name: ihag
Theme URI: https://effidic.fr
Author: I Have a Green
Author URI: https://ihaveagreen/
Description: effidic theme since underscore starter-theme
Version: 0.2.0
Tested up to: 5.4
Requires PHP: 7.1
Text Domain: ihag

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

_s is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@font-face{font-family:"Poppins SB";font-weight:700;src:url(/wp-content/themes/effidic/typo/Poppins-SemiBold.woff2) format("woff2")}/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}.site-footer.menu-open{display:none}body{margin:0}main{display:block}main.menu-open{display:none}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:#2f3254;font-family:Arial,"Poppins SB",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{font-family:"Poppins SB",Arial,sans-serif;clear:both}h1,.h1-like{font-size:clamp(calc(calc(40 / 16) * 1rem), calc((calc(calc(40 / 16) + (calc(600 / 16) * calc((calc(80 / 16) - calc(40 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * -1)) * 1rem) + (calc((calc(80 / 16) - calc(40 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * 100) * 1vw), calc(calc(80 / 16) * 1rem));line-height:1.1}h2,.h2-like{font-size:clamp(calc(calc(26 / 16) * 1rem), calc((calc(calc(26 / 16) + (calc(600 / 16) * calc((calc(40 / 16) - calc(26 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * -1)) * 1rem) + (calc((calc(40 / 16) - calc(26 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * 100) * 1vw), calc(calc(40 / 16) * 1rem));line-height:1.1;margin-top:0;margin-bottom:1.5rem}h3,.h3-like{font-size:clamp(calc(calc(22 / 16) * 1rem), calc((calc(calc(22 / 16) + (calc(600 / 16) * calc((calc(18 / 16) - calc(22 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * -1)) * 1rem) + (calc((calc(18 / 16) - calc(22 / 16)) / (calc(1200 / 16) - calc(600 / 16))) * 100) * 1vw), calc(calc(18 / 16) * 1rem));line-height:1.1}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}.has-orange-color{color:#ea6e61}.has-blue-color{color:#2f3254}.has-black-color{color:#000}.has-gray-color{color:#efefef}.has-white-color{color:#fff}.has-orange-background-color{background-color:#ea6e61}.has-blue-background-color{background-color:#2f3254}.has-black-background-color{background-color:#000}.has-gray-background-color{background-color:#efefef}.has-white-background-color{background-color:#fff}*{scroll-behavior:smooth;scroll-margin:15vh}body{background:#fff}#masthead{display:flex;justify-content:space-between;align-items:center;padding:1rem 2rem}#masthead.menu-open{background-color:#fff;height:100vh;width:100%;position:fixed;top:0;bottom:0;left:0;right:0;display:grid;grid-template-areas:"a b" "c c";grid-row-gap:1rem;grid-template-rows:min-content 1fr;padding:0;z-index:999}@media screen and (max-width: 900px){#masthead.menu-open .menu-toggle{margin-top:1rem;margin-right:2rem;justify-self:right}#masthead.menu-open .menu-toggle svg{overflow:visible}#masthead.menu-open .menu-toggle svg g{overflow:visible}#masthead.menu-open .menu-toggle svg g path:nth-child(1){transform-origin:top right;transform:rotate(-45deg) translateY(3px)}#masthead.menu-open .menu-toggle svg g path:nth-child(2){transform-origin:bottom right;transform:rotate(45deg) translateY(-3px)}#masthead.menu-open .menu-toggle svg g path:nth-child(3){opacity:0;transform:translate(16px)}}@media screen and (max-width: 900px){#masthead.menu-open .site-branding{margin-top:1rem;margin-left:2rem}}@media screen and (max-width: 900px){#masthead{flex-wrap:wrap}}#masthead .site-branding{max-width:200px;width:100%}@media screen and (max-width: 900px){#masthead .site-branding{grid-area:a;width:fit-content}#masthead .site-branding a{display:block}#masthead .site-branding a img{width:auto;height:2rem}}#masthead .menu-toggle{grid-area:b;border:none;background:none;padding:0;margin:0;width:min-content}#masthead .menu-toggle svg{width:2rem}#masthead .menu-toggle svg *{transition:all 0.3s ease}#masthead #site-navigation{width:fit-content}@media screen and (max-width: 900px){#masthead #site-navigation{width:100%;grid-area:c;text-align:right;align-self:baseline;height:100%;background-color:#ea6e61}#masthead #site-navigation.toggled{overflow-y:scroll}#masthead #site-navigation.toggled::after{content:url(./image/header_visual.svg);display:block;position:absolute;color:#ea6e61;left:-15%;bottom:0}}#masthead #site-navigation #primary-menu>li{position:relative;z-index:1}@media screen and (min-width: 900px){#masthead #site-navigation #primary-menu>li:last-child a{color:#ea6e61}}#masthead #site-navigation #primary-menu>li::before{content:"";position:absolute;bottom:0;left:50%;transform:translate(-50%);height:3px;width:0;background-color:#ea6e61;transition:all 0.2s ease;border-radius:5px}@media screen and (max-width: 900px){#masthead #site-navigation #primary-menu>li::before{display:none}}#masthead #site-navigation #primary-menu>li:hover::before{content:"";position:absolute;bottom:0;left:50%;transform:translate(-50%);height:3px;width:70%;background-color:#ea6e61;border-radius:5px}#masthead #site-navigation #primary-menu>li.current-menu-item:not(.menu-item-has-children)::after{content:"";position:absolute;bottom:0;left:50%;transform:translate(-50%);height:3px;width:1.5rem;background-color:#ea6e61;border-radius:5px}@media screen and (max-width: 900px){#masthead #site-navigation #primary-menu>li.current-menu-item:not(.menu-item-has-children)::after{display:none}}@media screen and (max-width: 900px){#masthead #site-navigation #primary-menu>li::after{content:"";position:absolute;bottom:0;right:2rem;height:3px;width:16px;background-color:#2f3254}}#masthead #site-navigation #primary-menu>li a{font-size:19px;color:#2f3254}@media screen and (max-width: 900px){#masthead #site-navigation #primary-menu>li a{color:#fff}}#masthead #site-navigation #primary-menu>li.menu-item-has-children{padding-right:1.5rem}@media screen and (max-width: 900px){#masthead #site-navigation #primary-menu>li.menu-item-has-children ul li{padding:0.5rem 0}}#masthead #site-navigation #primary-menu>li.menu-item-has-children ul li a{font-family:Arial, "Poppins SB";font-size:17px}@media screen and (min-width: 900px){#masthead #site-navigation #primary-menu>li.menu-item-has-children::after{content:url(./image/arrow.svg);display:block;position:absolute;color:#ea6e61;right:0;top:50%;transform:translateY(-50%)}}@media screen and (max-width: 1200px){#masthead .site-branding{max-width:150px}#masthead #site-navigation #primary-menu li a{font-size:1.25rem}#masthead #site-navigation #primary-menu li.menu-item-has-children ul li a{font-size:14px}}.site-footer{background-color:#2f3254;color:#fff;padding:1rem 2rem}.site-footer *:not(h3){font-family:Arial, "Poppins SB"}.site-footer .widget_nav_menu{text-align:end}.site-footer .widget_nav_menu ul{padding:0}.site-footer .widget_nav_menu li{list-style:none}.site-footer .widget_nav_menu li a{color:inherit;text-decoration:none}.site-footer .widget_nav_menu li a:hover{text-decoration:underline;text-underline-offset:4px}.site-footer .wp-block-columns{margin:2rem 0}.site-footer .wp-block-columns .wp-block-column :first-child{margin-top:0}.site-footer .wp-block-columns .wp-block-column :last-child{margin-bottom:0}.site-footer .wp-block-columns .wp-block-column p a{color:inherit;text-decoration:underline;text-underline-offset:4px}.site-footer .wp-block-columns .wp-block-column p a:hover{text-decoration:underline;text-underline-offset:4px;text-decoration-color:#ea6e61}@media screen and (max-width: 600px){.site-footer *{text-align:center;justify-content:center;margin:0 auto}.site-footer .wp-block-column{margin:1rem 0}.site-footer .wp-block-social-links{margin-top:2rem}}#page hr{background-color:#ccc;height:4px;margin-bottom:1.5em;width:50px;border:none;opacity:1;border-radius:5px}#page hr.is-style-red{background-color:#ea6e61}#page hr.is-style-gray{background-color:#efefef}#page hr.is-style-white{background-color:#fff}#page hr.is-style-blue{background-color:#2f3254}#page hr.align-right{margin-right:0}#page hr.align-left{margin-left:0}.single-reference #page hr{margin-left:0;background-color:#2f3254}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}.no-gap{gap:0 !important}@media screen and (max-width: 900px){.no-margin-in>*{margin-bottom:0 !important}}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:#4169e1}a:visited{color:purple}a:hover,a:focus,a:active{color:#191970}a:focus{outline:thin dotted}a:hover,a:active{outline:0}button,input[type="button"],input[type="reset"],input[type="submit"],a[class^="wp-block-button"]{font-family:"Poppins SB",Arial,sans-serif;font-size:18px;border-radius:1rem;text-decoration:none;background:#ea6e61;color:#fff;padding:0.75rem 1.5rem 0.75rem;transition:all 0.2s ease}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,a[class^="wp-block-button"]:hover{transform:scale(1.1);background-color:#e43b32;cursor:pointer}.wp-block-button.is-style-blue a[class^="wp-block-button"]{background:#2f3254}.wp-block-button.is-style-blue a[class^="wp-block-button"]:hover{background-color:#232548}@media screen and (max-width: 900px){.wp-block-buttons.btn-center{justify-content:center;text-align:center;margin-bottom:2rem}}@media screen and (max-width: 900px){#page .wp-block-button.alignright{text-align:center;margin:1rem 0 0 0}}@media screen and (max-width: 900px){.glossary-cta .wp-block-button{margin:0 auto}}@media screen and (max-width: 900px){.reference-cta .wp-block-button{margin:0 auto}}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{margin-top:0.25rem;width:100%;border:none;border-radius:1rem;padding:1.25rem 1rem;box-shadow:0 3px 6px rgba(0,0,0,0.16)}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}form button[type="submit"]{margin:0   auto}input[type="submit"].button,input[type="submit"],button[type="  submit"]{border:none;display:block;width:fit-content;margin-top:2rem}fieldset{border:none}select{border:1px solid #ccc}textarea{width:100%}label{margin-bottom:0.5rem;font-size:18px}.frm_forms{max-width:800px;margin:0 auto}#page .frm_fields_container{row-gap:1.5rem}@media screen and (min-width: 900px){#page .frm_fields_container{grid-gap:1.5rem 1rem}}.frm_error_style,.frm_error{color:#e43b32}@media screen and (max-width: 900px){#register-newsletter>input[type="submit"]{align-self:center}}.entry-content>*,.entry-header>*,aside>*{max-width:1200px;margin-left:auto;margin-right:auto}.entry-content>*:not(.widget),.entry-content>.widget>*{padding-left:1rem;padding-right:1rem}.alignwide{max-width:1400px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0}#page .alignslim{max-width:900px;margin-left:auto;margin-right:auto}.aligndefault,.entry-content>*>*{max-width:1200px;margin-left:auto;margin-right:auto}.alignfull{max-width:100%;margin-left:auto;margin-right:auto}.entry-content>.wp-block-group{padding:6rem 1rem}@media screen and (max-width: 900px){.entry-content>.wp-block-group{padding:2rem 1rem}}.wp-block-columns{margin-bottom:1.5rem}@media screen and (max-width: 900px){.wp-block-columns{margin-bottom:2rem}}@media screen and (max-width: 900px){.wp-block-columns:last-child{margin-bottom:0}}@media screen and (max-width: 900px){.wp-block-columns>.wp-block-column:not(:last-child){margin-bottom:2rem}}@media screen and (min-width: 900px){.entry-content>*>*:not(:last-child):not(.post){margin-bottom:2rem}}#page .margin-custom{padding:4rem 1rem 2.5rem 1rem}@media screen and (max-width: 900px){#page .margin-custom{padding:3rem 1rem 0 1rem}}@media screen and (max-width: 900px){.mobile-unshown{display:none}}@media screen and (max-width: 900px){#metiers .wp-block-columns{gap:0}}@media screen and (max-width: 900px){#dataplatform-why .wp-block-column{margin-bottom:2rem !important}}@media screen and (max-width: 900px){#valeurs+.wp-block-columns .wp-block-column{margin-bottom:0 !important}}.blog main,.archive main{background-color:#efefef}.post-content{padding:3rem 1rem}.nav-tags{margin-top:2rem;display:flex;justify-content:center;flex-wrap:wrap;row-gap:1rem}@media screen and (max-width: 900px){.nav-tags{margin-top:1rem}}.nav-tags a{color:#2f3254;margin:0;padding:0 1.5rem;font-size:22px;text-decoration:none}.nav-tags a.active{color:#ea6e61}@media screen and (min-width: 900px){.nav-tags a:not(:last-child){border-right:2px solid #707070}}.nav-tags a:hover{color:#ea6e61;text-decoration:underline;text-decoration-thickness:2px;text-underline-offset:4px}@media screen and (max-width: 900px){.nav-tags a:hover{color:#ea6e61;text-underline-offset:2px}}.postContainer{display:grid;grid-template-columns:repeat(3, 1fr);gap:2rem;margin:2rem auto}@media screen and (max-width: 900px){.postContainer{flex-direction:column;display:flex}}.postContainer article{width:100%;overflow:hidden;border-radius:1rem;background-color:#fff;color:#2f3254;box-shadow:0 3px 6px rgba(0,0,0,0.16);position:relative;padding-bottom:18rem}@media screen and (max-width: 900px){.postContainer article{position:unset;padding-bottom:0}}.postContainer article .content{padding:0.5rem 1.5rem}.postContainer article .content h3{margin:0}.postContainer article .content h3 a{text-decoration:none;color:#2f3254}.postContainer article .content p{margin:0;padding:0}.postContainer article .content time{display:block;margin:0.5rem 0 0.75rem 0}.postContainer article .content a.wp-block-button{margin:1rem auto 0.5rem auto;display:block;width:fit-content;text-decoration:none}.postContainer article .content .post-tags{margin-bottom:1rem;display:flex;gap:0.5rem}.postContainer article .content .post-tags>a{text-decoration:none;background-color:#535353;color:#fff;padding:0.25rem 0.75rem;font-size:0.75rem}.postContainer article .content .post-tags>a:hover{text-decoration:underline;text-underline-offset:2px}.postContainer article .content .absolute-container{width:100%;padding:0 1.5rem;position:absolute;bottom:1rem;left:50%;transform:translate(-50%)}@media screen and (max-width: 1080px){.postContainer article .content .absolute-container{position:unset;transform:none;padding:0}}.site__navigation{margin:0 auto;padding:2rem 0;display:flex;justify-content:space-between;grid-column:1/4;width:100%}@media screen and (max-width: 900px){.site__navigation{padding:0 0 2rem 0}}.site__navigation>div{margin:0}.site__navigation>div a{font-family:"Poppins SB";color:#2f3254;margin:0;padding:0 1.5rem;font-size:22px;text-decoration:none}.site__navigation>div a:hover{color:#ea6e61}@media screen and (max-width: 900px){.site__navigation .site__navigation__prev{text-align:start}}.site__navigation .site__navigation__prev>a{padding:0}@media screen and (max-width: 900px){.site__navigation .site__navigation__next{text-align:end}}.site__navigation .site__navigation__next>a{padding:0}.refContainer{margin:2rem auto 0 auto;padding-bottom:2rem}@media screen and (max-width: 900px){.refContainer{padding-bottom:0}}.refContainer article{border-radius:1rem;background-color:#fff;display:flex;margin:2rem auto}@media screen and (max-width: 900px){.refContainer article{flex-wrap:wrap;justify-content:center;padding:1.5rem 1rem}}.refContainer article .post-thumbnail{width:20%;min-height:180px;margin:1rem;display:grid;place-items:center;flex-shrink:0}@media screen and (max-width: 900px){.refContainer article .post-thumbnail{width:100%;flex-shrink:unset}}.refContainer article .content-ref{width:100%;margin:1rem 0 1rem 1rem;padding-left:2rem;border-left:4px solid #efefef}@media screen and (max-width: 900px){.refContainer article .content-ref{border-left:none;border-top:4px solid #efefef;padding-left:unset;margin:0;margin-bottom:1rem}}.refContainer article .content-ref *{margin:0}.refContainer article .content-ref header{margin-bottom:1rem}.refContainer article .content-ref header h3{margin-top:1rem}.refContainer article .content-ref header h3 a{color:#2f3254;text-decoration:none}.refContainer article .content-ref>p{margin-top:1rem}.refContainer article .content-ref .ref-tags{display:flex;gap:0.5rem}.refContainer article .content-ref .ref-tags>a{text-decoration:none;background-color:#535353;color:#fff;padding:0.25rem 0.75rem;font-size:0.75rem}.refContainer article .content-ref .ref-tags>a:hover{text-decoration:underline;text-underline-offset:2px}.refContainer article .btn-container{flex-shrink:0;width:300px;display:grid;place-items:center}.refContainer article .btn-container a{width:fit-content;height:fit-content}.post-type-archive-glossary #page .nav-tags{text-transform:uppercase}@media screen and (max-width: 900px){.post-type-archive-glossary #page .nav-tags{display:none}}.post-type-archive-glossary #page main{background-color:#fff}.post-type-archive-glossary #page main .glossary-container{padding-top:3rem}.post-type-archive-glossary #page main .glossary-container .letter-container{display:grid;grid-template-columns:1fr 1fr;grid-column-gap:10rem}@media screen and (max-width: 900px){.post-type-archive-glossary #page main .glossary-container .letter-container{grid-template-columns:1fr}}.post-type-archive-glossary #page main .glossary-container .letter-container a{text-decoration:none;color:#2f3254;font-family:"Poppins SB";font-size:40px}.post-type-archive-glossary #page main .glossary-container .letter-container a:hover{color:#ea6e61}.post-type-archive-glossary #page main .glossary-container .entry-header h2{text-transform:uppercase;color:#ea6e61;font-size:80px;margin-bottom:0}.post-type-archive-glossary #page main .glossary-container .entry-header hr{background-color:#2f3254;border-radius:1rem}.single-glossary .wp-block-effidic-section-bg.is-style-fg-io{background-position:top 1rem left -22rem}.single-glossary .nav_container{text-align:center}.single-glossary .nav_container a{text-decoration:none;color:#fff;font-family:"Poppins SB";font-size:18px}.single-glossary .glossary-content{color:#2f3254}.main-navigation{display:block;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{float:left;position:absolute;top:100%;left:-999em;z-index:99999;flex-direction:column;background-color:#fff;border-radius:0 0 1rem 1rem}@media screen and (max-width: 900px){.main-navigation ul ul{float:none;position:relative;background-color:unset;left:unset;text-align:right}}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li{padding:1rem 1.5rem}.main-navigation ul ul li:not(:first-child)::before{content:"";position:absolute;top:0;left:1.5rem;width:15%;height:2px;background-color:#ea6e61;border-radius:5px}@media screen and (max-width: 900px){.main-navigation ul ul li:not(:first-child)::before{display:none}}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}@media screen and (min-width: 900px){.main-navigation ul ul a{width:max-content}}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:0}.main-navigation li{position:relative;padding:0.5rem 1.5rem}@media screen and (max-width: 1200px){.main-navigation li{padding:0.5rem 0.75rem}}@media screen and (max-width: 1200px) and (max-width: 900px){.main-navigation li{padding:0.75rem 2rem}}@media screen and (max-width: 1200px) and (max-width: 900px) and (max-height: 600px){.main-navigation li{padding:7px 2rem}}.main-navigation a{display:block;text-decoration:none}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width: 900px){.menu-toggle{display:none}.main-navigation ul{display:flex}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.sticky{display:block}.updated:not(.published){display:none}.page-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}@media screen and (max-width: 900px){.is-style-fo-ni p{text-align:left}}@media screen and (max-width: 900px){.is-style-fb-ni .wp-block-columns:first-of-type .wp-block-column:first-of-type{order:2}}@media screen and (max-width: 900px){.is-style-fg-ni{padding:2rem 0}}@media screen and (max-width: 900px){.is-style-fg-ni h2{margin-bottom:3rem}}@media screen and (max-width: 900px){#page .is-style-fo-ib *{text-align:left;justify-content:flex-start}}@media screen and (max-width: 900px){#page .is-style-fo-ib * hr{margin-right:unset;margin-left:0}}@media screen and (max-width: 900px){#page .is-style-fo-ib-2 *{text-align:left;justify-content:flex-start}}@media screen and (max-width: 900px){#page .is-style-fo-ib-2 * hr{margin-right:unset;margin-left:0}}section.last-posts{color:#fff}section.last-posts a.more-posts{display:block;margin:3rem auto 0 auto;width:fit-content}section.last-posts h2{margin-bottom:3.5rem}section.last-posts .post-container{display:grid;grid-gap:2rem;grid-template-columns:repeat(3, 1fr)}@media screen and (max-width: 900px){section.last-posts .post-container{grid-template-columns:unset}}section.last-posts .post-container article{width:100%;overflow:hidden;border-radius:1rem;background-color:#fff;color:#2f3254;box-shadow:0 3px 6px rgba(0,0,0,0.16);position:relative;padding-bottom:18rem}@media screen and (max-width: 900px){section.last-posts .post-container article{position:unset;padding-bottom:0}}section.last-posts .post-container article .content{padding:0.5rem 1.5rem}section.last-posts .post-container article .content h3{margin:0}section.last-posts .post-container article .content h3 a{text-decoration:none;color:#2f3254}section.last-posts .post-container article .content p{margin:0;padding:0}section.last-posts .post-container article .content time{display:block;margin:0.5rem 0 0.75rem 0}section.last-posts .post-container article .content a.wp-block-button{margin:1rem auto 0.5rem auto;display:block;width:fit-content;text-decoration:none}section.last-posts .post-container article .content .post-tags{margin-bottom:1rem;display:flex;gap:0.5rem}section.last-posts .post-container article .content .post-tags>a{text-decoration:none;background-color:#535353;color:#fff;padding:0.25rem 0.75rem;font-size:0.75rem}section.last-posts .post-container article .content .post-tags>a:hover{text-decoration:underline;text-underline-offset:2px}section.last-posts .post-container article .content .absolute-container{width:100%;padding:0 1.5rem;position:absolute;bottom:1rem;left:50%;transform:translate(-50%)}@media screen and (max-width: 900px){section.last-posts .post-container article .content .absolute-container{position:unset;transform:translate(0);padding:0}}.mobile-filters #toggle-filters{display:none;margin-top:2rem;color:#2f3254;font-family:"Poppins SB";font-size:22px}@media screen and (max-width: 900px){.mobile-filters #toggle-filters{display:inline-block;position:relative}}@media screen and (max-width: 900px){.mobile-filters #toggle-filters::after{content:url(./image/arrow.svg);color:#ea6e61;position:absolute;right:-1.5rem;bottom:2px}}@media screen and (max-width: 900px){.mobile-filters .nav-tags{display:none;flex-direction:column}}@media screen and (max-width: 900px){.mobile-filters .nav-tags a{position:relative;padding:0 0 0 2rem;font-size:16px;font-family:"Poppins SB"}}@media screen and (max-width: 900px){.mobile-filters .nav-tags a::before{content:url(./image/arrow.svg);color:#ea6e61;position:absolute;left:0;transform:rotate(-90deg)}}section.references{color:#2f3254}section.references>h2{color:#fff;margin-bottom:3.5rem}@media screen and (max-width: 900px){section.references>h2{margin-bottom:2rem}}section.references>.wp-block-button{display:block;margin:3rem auto 0 auto;width:fit-content;background-color:#2f3254}@media screen and (max-width: 900px){section.references>.wp-block-button{margin:2rem auto 0 auto}}section.references .post-container{display:flex;flex-direction:column;gap:2rem}section.references .post-container article{border-radius:1rem;background-color:#fff;display:flex}@media screen and (max-width: 900px){section.references .post-container article{flex-wrap:wrap;justify-content:center;padding:1.5rem 1rem}}section.references .post-container article .post-thumbnail{width:20%;min-height:180px;margin:1rem;display:grid;place-items:center;flex-shrink:0}@media screen and (max-width: 900px){section.references .post-container article .post-thumbnail{width:100%;flex-shrink:unset}}section.references .post-container article .content-ref{width:100%;margin:1rem 0 1rem 1rem;padding-left:2rem;border-left:4px solid #efefef}@media screen and (max-width: 900px){section.references .post-container article .content-ref{border-left:none;border-top:4px solid #efefef;padding-left:unset;margin:0;margin-bottom:1rem}}section.references .post-container article .content-ref *{margin:0}section.references .post-container article .content-ref h3{margin-top:1rem}section.references .post-container article .content-ref h3 a{color:#2f3254;text-decoration:none}section.references .post-container article .content-ref .ref-tags{margin:1rem 0;display:flex;gap:0.5rem}section.references .post-container article .content-ref .ref-tags>a{text-decoration:none;background-color:#535353;color:#fff;padding:0.25rem 0.75rem;font-size:0.75rem}section.references .post-container article .content-ref .ref-tags>a:hover{text-decoration:underline;text-underline-offset:2px}section.references .post-container article .btn-container{flex-shrink:0;width:300px;display:grid;place-items:center}section.references .post-container article .btn-container a{width:fit-content;height:fit-content}.full-img{background-color:#fff;height:fit-content}.full-img>img{width:100%;height:auto}.mobile-filters #toggle-filters{display:none;margin-top:2rem;color:#2f3254;font-family:"Poppins SB";font-size:22px}@media screen and (max-width: 900px){.mobile-filters #toggle-filters{display:inline-block;position:relative}.mobile-filters #toggle-filters::after{content:url(./image/arrow.svg);color:#ea6e61;position:absolute;right:-1.5rem;bottom:2px}}@media screen and (max-width: 900px){.mobile-filters .nav-tags{display:none;flex-direction:column}.mobile-filters .nav-tags.filters-reveal{display:flex}.mobile-filters .nav-tags a{position:relative;padding:0 0 0 2rem;font-size:16px;font-family:"Poppins SB"}.mobile-filters .nav-tags a::before{content:url(./image/arrow.svg);color:#ea6e61;position:absolute;left:0;transform:rotate(-90deg)}}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:none !important;text-align:left;margin-right:1.5em;margin-bottom:1.5em}.wp-block-image figure.alignright{display:block}.alignright{float:none !important;text-align:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}.nav_container{background:#2f3254;padding:3rem 0}.nav_container .post__navigation{display:grid;grid-template-columns:repeat(3, 1fr)}.nav_container .post__navigation *{text-align:center}@media screen and (max-width: 900px){.nav_container .post__navigation *.nav_prev{text-align:start}}@media screen and (max-width: 900px){.nav_container .post__navigation *.nav-next{text-align:end}}.nav_container .post__navigation a{text-decoration:none;color:#fff;font-size:18px;font-family:"Poppins SB", Arial, Helvetica, sans-serif}.nav_container .post__navigation a:hover{color:#ea6e61}@media screen and (max-width: 900px){#page .is-style-fo-ni .wp-block-social-links{justify-content:center;margin:0}}

/*# sourceMappingURL=style-editor.css.map */