.alignleft {

	/*rtl:ignore*/
	//float: left;
	float: none !important;
	text-align: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.wp-block-image {

	figure.alignright {
		display: block;
	}
}

.alignright {

	/*rtl:ignore*/
	//float: right;
	float: none !important;
	text-align: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}
