h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__head;
	clear: both;
}

h1,
.h1-like {
	font-size: ihag_clamp(40, 80, 600, 1200);
	line-height: 1.1;
}

h2,
.h2-like {
	font-size: ihag_clamp(26, 40, 600, 1200);
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 1.5rem;
}

h3,
.h3-like {
	font-size: ihag_clamp(22, 18, 600, 1200);
	line-height: 1.1;
}
