.nav_container {
	background: $color__blue;
	padding: 3rem 0;

	.post__navigation {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		* {
			text-align: center;

			&.nav_prev {

				@media screen and (max-width: $breakpoint_mobile) {
					text-align: start;
				}
			}

			&.nav-next {

				@media screen and (max-width: $breakpoint_mobile) {
					text-align: end;
				}
			}
		}

		a {
			text-decoration: none;
			color: $color__white;
			font-size: 18px;
			font-family: "Poppins SB", Arial, Helvetica, sans-serif;

			&:hover {
				color: $color__orange;
			}
		}

	}
}

#page
.is-style-fo-ni {

	.wp-block-social-links {

		@media screen and (max-width: $breakpoint_mobile) {
			justify-content: center;
			margin: 0;
		}
	}
}
