// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


@function ihag_clamp($minPX, $maxPX,$minWith,$maxWith) {

	$minFontSize: calc(#{$minPX} / 16);
	$maxFontSize: calc(#{$maxPX} / 16);

	$minVW: calc(#{$minWith} / 16);
	$maxVW: calc(#{$maxWith} / 16);

	$slope: calc((#{$maxFontSize} - #{$minFontSize}) / (#{$maxVW} - #{$minVW}));
	$yIntersect : calc(#{$minFontSize} + (#{$minVW} * #{$slope} * -1));

	$prefFontSize: clamp(calc(#{$minFontSize} * 1rem), calc((#{$yIntersect} * 1rem) + (#{$slope} * 100) * 1vw), calc(#{$maxFontSize} * 1rem));

	@return $prefFontSize;
}


@mixin font($name, $weight: regular, $f-size: default) {
	font-family: map-get(map-get($fonts, $name), "base");

	/* 	@if $weight != regular {
		@include font-weight($name, $weight);
	} */
	@if $f-size != null {

		@include font-size($name, $f-size);
	}
}

/* @mixin font-weight($name, $weight) {
	font-weight: map-get(map-get($fonts, $name), $weight);
} */
@mixin font-size($name, $f-size) {
	font-size: map-get(map-get($fonts, $name), $f-size);
}
