section.last-posts {
	color: $color__white;

	a.more-posts {
		display: block;
		margin: 3rem auto 0 auto;
		width: fit-content;
	}

	h2 {
		margin-bottom: 3.5rem;
	}

	.post-container {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);

		@media screen and (max-width: $breakpoint_mobile) {
			grid-template-columns: unset;
		}


		article {
			width: 100%;
			overflow: hidden;
			border-radius: 1rem;
			background-color: $color__white;
			color: $color__blue;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			position: relative;
			padding-bottom: 18rem;

			@media screen and (max-width: $breakpoint_mobile) {
				position: unset;
				padding-bottom: 0;
			}

			.content {
				padding: 0.5rem 1.5rem;

				h3 {
					margin: 0;

					a {
						text-decoration: none;
						color: $color__blue;
					}
				}

				p {
					margin: 0;
					padding: 0;
				}

				time {
					display: block;
					margin: 0.5rem 0 0.75rem 0;
				}

				a.wp-block-button {
					margin: 1rem auto 0.5rem auto;
					display: block;
					width: fit-content;
					text-decoration: none;

				}

				.post-tags {
					margin-bottom: 1rem;
					display: flex;
					gap: 0.5rem;

					> a {
						text-decoration: none;
						background-color: #535353;
						color: $color__white;
						padding: 0.25rem 0.75rem;
						font-size: 0.75rem;

						&:hover {
							text-decoration: underline;
							text-underline-offset: 2px;
						}
					}
				}

				.absolute-container {
					width: 100%;
					padding: 0 1.5rem;
					position: absolute;
					bottom: 1rem;
					left: 50%;
					transform: translate(-50%);

					@media screen and (max-width: $breakpoint_mobile) {
						position: unset;
						transform: translate(0);
						padding: 0;
					}
				}
			}
		}
	}
}

.mobile-filters {

	#toggle-filters {
		display: none;
		margin-top: 2rem;

		color: $color__blue;
		font-family: "Poppins SB";
		font-size: 22px;

		@media screen and (max-width: $breakpoint_mobile) {
			display: inline-block;
			position: relative;
		}

		&::after {

			@media screen and (max-width: $breakpoint_mobile) {
				content: url(./image/arrow.svg);
				color: $color__orange;
				position: absolute;
				right: -1.5rem;
				bottom: 2px;
			}
		}
	}

	.nav-tags {

		@media screen and (max-width: $breakpoint_mobile) {
			display: none;

			flex-direction: column;
		}

		a {

			@media screen and (max-width: $breakpoint_mobile) {
				position: relative;
				padding: 0 0 0 2rem;
				font-size: 16px;
				font-family: "Poppins SB";
			}


			&::before {

				@media screen and (max-width: $breakpoint_mobile) {
					content: url(./image/arrow.svg);
					color: $color__orange;
					position: absolute;
					left: 0;
					transform: rotate(-90deg);
				}
			}
		}
	}
}
