section.references {
	color: $color__blue;

	> h2 {
		color: $color__white;
		margin-bottom: 3.5rem;

		@media screen and (max-width: $breakpoint_mobile) {
			margin-bottom: 2rem;
		}
	}

	> .wp-block-button {
		display: block;
		margin: 3rem auto 0 auto;
		width: fit-content;
		background-color: $color__blue;

		@media screen and (max-width: $breakpoint_mobile) {
			margin: 2rem auto 0 auto;
		}
	}

	.post-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		article {
			border-radius: 1rem;
			background-color: $color__white;
			display: flex;

			@media screen and (max-width: $breakpoint_mobile) {
				flex-wrap: wrap;
				justify-content: center;
				padding: 1.5rem 1rem;
			}

			.post-thumbnail {
				width: 20%;
				min-height: 180px;
				margin: 1rem;
				display: grid;
				place-items: center;
				flex-shrink: 0;

				@media screen and (max-width: $breakpoint_mobile) {
					width: 100%;
					flex-shrink: unset;
				}
			}

			.content-ref {

				width: 100%;
				margin: 1rem 0 1rem 1rem;
				padding-left: 2rem;
				border-left: 4px solid $color__gray;

				@media screen and (max-width: $breakpoint_mobile) {
					border-left: none;
					border-top: 4px solid $color__gray;
					padding-left: unset;
					margin: 0;
					margin-bottom: 1rem;
				}

				* {
					margin: 0;
				}

				h3 {

					margin-top: 1rem;

					a {
						color: $color__blue;
						text-decoration: none;
					}
				}

				.ref-tags {
					margin: 1rem 0;
					display: flex;
					gap: 0.5rem;

					> a {
						text-decoration: none;
						background-color: #535353;
						color: $color__white;
						padding: 0.25rem 0.75rem;
						font-size: 0.75rem;

						&:hover {
							text-decoration: underline;
							text-underline-offset: 2px;
						}
					}
				}
			}

			.btn-container {
				flex-shrink: 0;
				width: 300px;
				display: grid;
				place-items: center;

				a {
					width: fit-content;
					height: fit-content;
				}
			}
		}
	}
}

.full-img {
	background-color: $color__white;
	height: fit-content;

	> img {
		width: 100%;
		height: auto;
	}
}

.mobile-filters {

	#toggle-filters {
		display: none;
		margin-top: 2rem;

		color: $color__blue;
		font-family: "Poppins SB";
		font-size: 22px;

		@media screen and (max-width: $breakpoint_mobile) {
			display: inline-block;
			position: relative;

			&::after {
				content: url(./image/arrow.svg);
				color: $color__orange;
				position: absolute;
				right: -1.5rem;
				bottom: 2px;
			}
		}
	}

	.nav-tags {

		@media screen and (max-width: $breakpoint_mobile) {
			display: none;
			flex-direction: column;

			&.filters-reveal {
				display: flex;
			}

			a {
				position: relative;
				padding: 0 0 0 2rem;
				font-size: 16px;
				font-family: "Poppins SB";

				&::before {
					content: url(./image/arrow.svg);
					color: $color__orange;
					position: absolute;
					left: 0;
					transform: rotate(-90deg);
				}
			}
		}
	}
}
