.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			flex-direction: column;
			background-color: $color__white;
			border-radius: 0 0 1rem 1rem;

			@media screen and (max-width: $breakpoint_mobile) {
				float: none;
				position: relative;
				background-color: unset;
				left: unset;
				text-align: right;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 1rem 1.5rem;

				&:not(:first-child)::before {
					content: "";
					position: absolute;
					top: 0;
					left: 1.5rem;


					width: 15%;
					height: 2px;
					background-color: $color__orange;
					border-radius: 5px;

					@media screen and (max-width: $breakpoint_mobile) {
						display: none;
					}
				}

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			@media screen and (min-width: $breakpoint_mobile) {

				a {
					width: max-content;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 0;
		}
	}

	li {
		position: relative;
		padding: 0.5rem 1.5rem;

		@media screen and (max-width: $breakpoint_laptop) {
			padding: 0.5rem 0.75rem;

			@media screen and (max-width: $breakpoint_mobile) {

				@media screen and (max-height: 600px) {
					padding: 7px 2rem;
				}
				padding: 0.75rem 2rem;
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $breakpoint_mobile) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
