button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a[class^="wp-block-button"] {
	font-family: $font__head;
	font-size: 18px;

	border-radius: 1rem;
	text-decoration: none;

	background: $color__orange;
	color: $color__white;
	padding: 0.75rem 1.5rem 0.75rem;
	transition: all 0.2s ease;

	&:hover {
		transform: scale(1.1);
		background-color: $color__orange-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		//border-color: $color__border-button-focus;
	}
}

.wp-block-button {

	&.is-style-blue {

		a[class^="wp-block-button"] {
			background: $color__blue;

			&:hover {
				background-color: $color__blue-hover;
			}

			&:active,
			&:focus {
				//border-color: $color__border-button-focus;
			}
		}
	}
}

.wp-block-buttons {

	&.btn-center {

		@media screen and (max-width: $breakpoint_mobile) {
			justify-content: center;
			text-align: center;
			margin-bottom: 2rem;
		}
	}
}

#page .wp-block-button {

	&.alignright {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: center;
			margin: 1rem 0 0 0;
		}
	}
}

.glossary-cta {

	.wp-block-button {

		@media screen and (max-width: $breakpoint_mobile) {
			margin: 0 auto;
		}
	}
}

.reference-cta {

	.wp-block-button {

		@media screen and (max-width: $breakpoint_mobile) {
			margin: 0 auto;
		}
	}
}
