input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	margin-top: 0.25rem;
	width: 100%;
	border: none;
	border-radius: 1rem;
	padding: 1.25rem 1rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

	&:focus {
		color: $color__text-input-focus;
	}
}

form button[type="submit"] {
	margin: 0   auto;
}

input[type="submit"].button,
input[type="submit"],
button[type="  submit"] {
	border: none;
	display: block;
	width: fit-content;
	margin-top: 2rem;
}

fieldset {
	border: none;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

label {
	margin-bottom: 0.5rem;
	font-size: 18px;
}

.frm_forms {
	max-width: 800px;
	margin: 0 auto;
}

#page .frm_fields_container {
	row-gap: 1.5rem;

	@media screen and(min-width: $breakpoint_mobile) {
		grid-gap: 1.5rem 1rem;
	}
}

.frm_error_style,
.frm_error {
	color: $color__orange-hover;
}

#register-newsletter {

	@media screen and(max-width: $breakpoint_mobile) {

		> input[type="submit"] {
			align-self: center;
		}
	}
}
