.site-footer {
	background-color: $color__blue;
	color: $color__white;
	padding: 1rem 2rem;

	*:not(h3) {
		font-family: Arial, "Poppins SB";
	}

	.widget_nav_menu {
		text-align: end;

		ul {
			padding: 0;
		}

		li {
			list-style: none;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
					text-underline-offset: 4px;
				}
			}
		}
	}

	.wp-block-columns {
		margin: 2rem 0;

		.wp-block-column {

			:first-child {
				margin-top: 0;
			}

			:last-child {
				margin-bottom: 0;
			}

			p {

				a {
					color: inherit;
					text-decoration: underline;
					text-underline-offset: 4px;

					&:hover {
						text-decoration: underline;
						text-underline-offset: 4px;
						text-decoration-color: $color__orange;
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {

		* {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
		}

		.wp-block-column {
			margin: 1rem 0;
		}

		.wp-block-social-links {
			margin-top: 2rem;
		}
	}
}
