

#masthead {

	&.menu-open {
		background-color: $color__white;
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: grid;
		grid-template-areas:
			"a b"
			"c c";
		grid-row-gap: 1rem;
		grid-template-rows: min-content 1fr;
		padding: 0;
		z-index: 999;

		.menu-toggle {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-top: 1rem;
				margin-right: 2rem;
				justify-self: right;

				svg {
					overflow: visible;

					g {
						overflow: visible;

						path {

							&:nth-child(1) {
								transform-origin: top right;
								transform: rotate(-45deg) translateY(3px);
							}

							&:nth-child(2) {
								transform-origin: bottom right;
								transform: rotate(45deg) translateY(-3px);
							}

							&:nth-child(3) {
								opacity: 0;
								transform: translate(16px);
							}
						}
					}
				}

			}
		}

		.site-branding {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-top: 1rem;
				margin-left: 2rem;
			}
		}
	}

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;

	@media screen and (max-width: $breakpoint_mobile) {
		flex-wrap: wrap;
	}


	.site-branding {
		max-width: 200px;
		width: 100%;

		@media screen and (max-width: $breakpoint_mobile) {
			grid-area: a;
			width: fit-content;

			a {
				display: block;

				img {
					width: auto;
					height: 2rem;
				}
			}
		}

		a {

			img{

			}
		}
	}


	.menu-toggle {
		grid-area: b;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		width: min-content;

		svg {
			width: 2rem;

			* {
				transition: all 0.3s ease;
			}
		}
	}


	#site-navigation {

		@media screen and (max-width: $breakpoint_mobile) {
			width: 100%;
			grid-area: c;
			text-align: right;
			align-self: baseline;
			height: 100%;
			background-color: $color__orange;


			&.toggled {
				overflow-y: scroll;

				&::after {
					content: url(./image/header_visual.svg);
					display: block;
					position: absolute;
					color: $color__orange;
					left: -15%;
					bottom: 0;
				}
			}

		}
		width: fit-content;

		#primary-menu {

			> li {
				position: relative;

				@media screen and (min-width: $breakpoint_mobile) {

					&:last-child {

						a {
							color: $color__orange;
						}
					}
				}

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%);
					height: 3px;
					width: 0;
					background-color: $color__orange;
					transition: all 0.2s ease;
					border-radius: 5px;

					@media screen and (max-width: $breakpoint_mobile) {
						display: none;
					}
				}

				&:hover {

					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translate(-50%);
						height: 3px;
						width: 70%;
						background-color: $color__orange;
						border-radius: 5px;
					}
				}

				&.current-menu-item:not(.menu-item-has-children) {

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translate(-50%);
						height: 3px;
						width: 1.5rem;
						background-color: $color__orange;
						border-radius: 5px;

						@media screen and (max-width: $breakpoint_mobile) {
							display: none;
						}
					}

				}
				z-index: 1;

				@media screen and (max-width: $breakpoint_mobile) {

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						right: 2rem;
						height: 3px;
						width: 16px;
						background-color: $color__blue;
					}
				}

				a {
					font-size: 19px;
					color: $color__blue;

					@media screen and (max-width: $breakpoint_mobile) {
						color: $color__white;
					}

					/*                     &:hover{
                        text-underline-offset: 4px;
                        text-decoration: underline;
                    } */
				}

				&.menu-item-has-children {
					padding-right: 1.5rem;

					ul {

						li {

							@media screen and (max-width: $breakpoint_mobile) {
								padding: 0.5rem 0;
							}

							a {
								font-family: Arial, "Poppins SB";
								font-size: 17px;
							}
						}
					}

					@media screen and (min-width: $breakpoint_mobile) {

						&::after {
							content: url(./image/arrow.svg);
							display: block;
							position: absolute;
							color: $color__orange;
							right: 0;
							top: 50%;
							transform: translateY(-50%);

						}
					}
				}
			}
		}


	}

	@media screen and (max-width: $breakpoint_laptop) {

		.site-branding {
			max-width: 150px;
		}

		#site-navigation {

			#primary-menu {

				li {

					a {
						font-size: 1.25rem;
						//width: fit-content;
					}

					&.menu-item-has-children {

						ul {

							li {

								a {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

