#page hr {
	background-color: $color__background-hr;
	height: 4px;
	margin-bottom: 1.5em;
	width: 50px;
	border: none;
	opacity: 1;
	border-radius: 5px;

	&.is-style-red {
		background-color: $color__orange;
	}

	&.is-style-gray {
		background-color: $color__gray;
	}

	&.is-style-white {
		background-color: $color__white;
	}

	&.is-style-blue {
		background-color: $color__blue;
	}

	&.align-right {
		margin-right: 0;
	}

	&.align-left {
		margin-left: 0;
	}
}

.single-reference #page hr {
	margin-left: 0;
	background-color: $color__blue;
}
