/* ul,
ol {
	margin: 0 0 1.5em 3em;
} */

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.no-gap {
	gap: 0 !important;
}

.no-margin-in {

	@media screen and (max-width: 900px) {

		> * {
			margin-bottom: 0 !important;
		}
	}
}
