.blog,
.archive {

	main {
		background-color: $color__gray;
	}
}

.post-content {
	padding: 3rem 1rem;
}

.nav-tags {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 1rem;


	@media screen and (max-width: $breakpoint_mobile) {
		margin-top: 1rem;
	}

	a {

		&.active {
			color: $color__orange;
		}

		&:not(:last-child) {

			@media screen and (min-width: $breakpoint_mobile) {
				border-right: 2px solid #707070;
			}
		}
		color: $color__blue;
		margin: 0;
		padding: 0 1.5rem;
		font-size: 22px;
		text-decoration: none;

		&:hover {
			color: $color__orange;
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 4px;

			@media screen and (max-width: $breakpoint_mobile) {
				color: $color__orange;
				text-underline-offset: 2px;
			}
		}
	}
}


.postContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin: 2rem auto;

	@media screen and (max-width: $breakpoint_mobile) {
		flex-direction: column;
		display: flex;
	}

	article {
		width: 100%;
		overflow: hidden;
		border-radius: 1rem;
		background-color: $color__white;
		color: $color__blue;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		position: relative;
		padding-bottom: 18rem;

		@media screen and (max-width: $breakpoint_mobile) {
			position: unset;
			padding-bottom: 0;
		}

		.content {
			padding: 0.5rem 1.5rem;

			h3 {
				margin: 0;

				a {
					text-decoration: none;
					color: $color__blue;
				}
			}

			p {
				margin: 0;
				padding: 0;
			}

			time {
				display: block;
				margin: 0.5rem 0 0.75rem 0;
			}

			a.wp-block-button {
				margin: 1rem auto 0.5rem auto;
				display: block;
				width: fit-content;
				text-decoration: none;

			}

			.post-tags {
				margin-bottom: 1rem;
				display: flex;
				gap: 0.5rem;

				> a {
					text-decoration: none;
					background-color: #535353;
					color: $color__white;
					padding: 0.25rem 0.75rem;
					font-size: 0.75rem;

					&:hover {
						text-decoration: underline;
						text-underline-offset: 2px;
					}
				}
			}

			.absolute-container {
				width: 100%;
				padding: 0 1.5rem;
				position: absolute;
				bottom: 1rem;
				left: 50%;
				transform: translate(-50%);

				@media screen and (max-width: 1080px) {
					position: unset;
					transform: none;
					padding: 0;
				}
			}
		}
	}
}

.site__navigation {
	margin: 0 auto;
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	grid-column: 1/4;
	width: 100%;

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 0 0 2rem 0;
	}

	> div {
		margin: 0;

		a {
			font-family: "Poppins SB";
			color: $color__blue;
			margin: 0;
			padding: 0 1.5rem;
			font-size: 22px;
			text-decoration: none;

			&:hover {
				color: $color__orange;
			}
		}
	}

	.site__navigation__prev {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: start;
		}

		> a {
			padding: 0;
		}
	}

	.site__navigation__next {

		@media screen and (max-width: $breakpoint_mobile) {
			text-align: end;
		}

		> a {
			padding: 0;
		}
	}
}
