.post-type-archive-glossary {

	#page {

		.nav-tags {
			text-transform: uppercase;

			@media screen and (max-width: $breakpoint_mobile) {
				display: none;
			}
		}

		main {
			background-color: $color__white;

			.glossary-container {

				padding-top: 3rem;

				.letter-container {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-column-gap: 10rem;

					@media screen and (max-width: $breakpoint_mobile) {
						grid-template-columns: 1fr;
					}

					a {
						text-decoration: none;
						color: $color__blue;
						font-family: "Poppins SB";
						font-size: 40px;


						&:hover {
							color: $color__orange;
						}
					}

				}

				.entry-header {

					h2 {
						text-transform: uppercase;
						color: $color__orange;
						font-size: 80px;
						margin-bottom: 0;
					}

					hr {
						background-color: $color__blue;
						border-radius: 1rem;
					}
				}
			}
		}
	}
}

.single-glossary {

	.wp-block-effidic-section-bg.is-style-fg-io {
		background-position: top 1rem left -22rem;
	}

	.nav_container {
		text-align: center;

		a {
			text-decoration: none;
			color: $color__white;
			font-family: "Poppins SB";
			font-size: 18px;
		}
	}

	.glossary-content {
		color: $color__blue;
	}


}
