.refContainer {
	margin: 2rem auto 0 auto;
	padding-bottom: 2rem;

	@media screen and (max-width: $breakpoint_mobile) {
		padding-bottom: 0;
	}

	article {
		border-radius: 1rem;
		background-color: $color__white;
		display: flex;
		margin: 2rem auto;

		@media screen and (max-width: $breakpoint_mobile) {
			flex-wrap: wrap;
			justify-content: center;
			padding: 1.5rem 1rem;
		}

		.post-thumbnail {
			width: 20%;
			min-height: 180px;
			margin: 1rem;
			display: grid;
			place-items: center;
			flex-shrink: 0;

			@media screen and (max-width: $breakpoint_mobile) {
				width: 100%;
				flex-shrink: unset;
			}
		}

		.content-ref {
			width: 100%;
			margin: 1rem 0 1rem 1rem;
			padding-left: 2rem;
			border-left: 4px solid $color__gray;

			@media screen and (max-width: $breakpoint_mobile) {
				border-left: none;
				border-top: 4px solid $color__gray;
				padding-left: unset;
				margin: 0;
				margin-bottom: 1rem;
			}

			* {
				margin: 0;
			}

			header {
				margin-bottom: 1rem;

				h3 {

					margin-top: 1rem;

					a {
						color: $color__blue;
						text-decoration: none;
					}
				}
			}

			> p {
				margin-top: 1rem;
			}

			.ref-tags {
				display: flex;
				gap: 0.5rem;

				> a {
					text-decoration: none;
					background-color: #535353;
					color: $color__white;
					padding: 0.25rem 0.75rem;
					font-size: 0.75rem;

					&:hover {
						text-decoration: underline;
						text-underline-offset: 2px;
					}
				}
			}
		}

		.btn-container {
			flex-shrink: 0;
			width: 300px;
			display: grid;
			place-items: center;

			a {
				width: fit-content;
				height: fit-content;
			}
		}
	}
}
