
.entry-content > *,
.entry-header > *,
aside > * {
	max-width: $aligndefault;
	margin-left: auto;
	margin-right: auto;
}

.entry-content > *:not(.widget),
.entry-content > .widget > * {
	padding-left: 1rem;
	padding-right: 1rem;
}

.alignwide {
	max-width: $alignwide;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#page .alignslim {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.aligndefault,
.entry-content > * > * {
	max-width: $aligndefault;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	max-width: $alignfull;
	margin-left: auto;
	margin-right: auto;
}

.entry-content > .wp-block-group {
	padding: 6rem 1rem;

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 2rem 1rem;
	}
}

.wp-block-columns {
	margin-bottom: 1.5rem;

	@media screen and (max-width: $breakpoint_mobile) {
		margin-bottom: 2rem;
	}

	&:last-child {

		@media screen and (max-width: $breakpoint_mobile) {
			margin-bottom: 0;
		}
	}

	> .wp-block-column {

		&:not(:last-child) {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-bottom: 2rem;
			}
		}
	}
}

.entry-content > * {

	> *:not(:last-child):not(.post) {

		@media screen and (min-width: $breakpoint_mobile) {
			margin-bottom: 2rem;
		}
	}
}


#page .margin-custom {
	padding: 4rem 1rem 2.5rem 1rem;

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 3rem 1rem 0 1rem;
	}

}


.mobile-unshown {

	@media screen and (max-width: $breakpoint_mobile) {
		display: none;
	}
}

#metiers {

	.wp-block-columns {

		@media screen and (max-width: $breakpoint_mobile) {
			gap: 0;
		}
	}
}

#dataplatform-why {

	.wp-block-column {

		@media screen and (max-width: $breakpoint_mobile) {
			margin-bottom: 2rem !important;
		}
	}
}

#valeurs + .wp-block-columns {

	.wp-block-column {

		@media screen and (max-width: $breakpoint_mobile) {
			margin-bottom: 0 !important;
		}
	}
}
