$color__blue: #2f3254;
$color__blue-hover: #232548;
$color__orange: #ea6e61;
$color__orange-hover: #e43b32;
$color__white: #fff;
$color__gray: #efefef;
$color__black: #000;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1;
$color__link-visited: #800080;
$color__link-hover: #191970;
$color__text-main: $color__blue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

