@font-face {
	font-family: "Poppins SB";
	font-weight: 700;
	src: url(/wp-content/themes/effidic/typo/Poppins-SemiBold.woff2) format("woff2");
}


// stylelint-disable value-keyword-case
$font__head: "Poppins SB", Arial, sans-serif;
$font__main: Arial,"Poppins SB",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$h1: ihag_clamp(26, 40, 400, 1200);
$h2: ihag_clamp(42, 24, 400, 1200);
