.has-orange-color {
	color: $color__orange;
}

.has-blue-color {
	color: $color__blue;
}

.has-black-color {
	color: $color__black;
}

.has-gray-color {
	color: $color__gray;
}

.has-white-color {
	color: $color__white;
}


.has-orange-background-color {
	background-color: $color__orange;
}

.has-blue-background-color {
	background-color: $color__blue;
}

.has-black-background-color {
	background-color: $color__black;
}

.has-gray-background-color {
	background-color: $color__gray;
}

.has-white-background-color {
	background-color: $color__white;
}
